@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-colorwrapper: #AEA89D;
  --background-color-icon: #747069;
  --background-color: #e8dfd1;
  --text-color: black;
}
.no-decoration {
  text-decoration: none;
  color: inherit;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    font-weight: 500;
  }
  
  nav ul li {
    margin-left: 40px;
    font-size: 15;
    cursor: pointer;
    position: relative;
  }
  
  nav ul li span {
    position: absolute;
    top: -5px;
    right: -28px;
  }


body {
    font-family: "Montserrat", sans-serif;
    margin: 3% 15%;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
  }



  canvas {
    border: 2px solid var(--text-color);
  }

#resetGame {
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s;
}

  span{
    cursor: pointer;
    text-align: center;
  }
  h1{
    position: relative;
    text-align: center;
  }

.divConstruction{
margin-top: 150px;
}
